[Unit]
Description=Avahi DNS publishing name ${DNSNAME} ${IP}
Wants=avahi-daemon.service

[Service]
Type=simple
ExecStart=/usr/bin/avahi-publish -a -R ${DNSNAME}.local ${IP}

[Install]
WantedBy=multi-user.target